.layout {
  max-width: $content-max-width;
  margin: 0 auto;

  &--left {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);

    margin: 0 18px;

    @include bp-medium {
      margin: 0 5%;

      @include justify-content(left);
      @include align-items(flex-start);
    }
  }
}
