.roku-card {
  font-family: $roboto-family;
  font-weight: $roboto-regular;
  width: 100%;

  &__card-group {
    margin-top: 22px;
  }

  &__container-card {
    margin-top: 12px;

    @include bp-medium {
      margin-top: 20px;
      max-width: 1218px;

      @include flexbox;
    }

    &__title {
      font-size: calculate-rem(36);
      color: $deep;
      margin-bottom: 33px;
    }

    &__text {
      font-size: calculate-rem(21);
      margin-bottom: 33px;
    }

    &__text-assistance {
      font-size: calculate-rem(18);
      margin-bottom: 33px;

      &--link {
        color: $sinbad;

        &:hover {
          color: $sinbad-hover;
        }
      }
    }
  }
}
