/**
 * Breakpoints: Widths
 */

$page-max-width: 1920px;
$content-max-width: 1720px;

$min-width-tablet: 429px; // Minimal width suported
$min-width-desktop: 769px; // Minimal width suported

/* Components Breakpoints */
//$min-width-page-hero: 350px;
