/**
 * Fonts: Variables
 */

$default-font-size: 12;

/* Roboto */
$roboto: 'Roboto Regular';
$roboto-bold: 'Roboto Bold';
$roboto-medium: 'Roboto Medium';

$roboto-family: $roboto, sans-serif;
$roboto-bold-family: $roboto-bold, sans-serif;
$roboto-medium-family: $roboto-medium, sans-serif;

$roboto-regular: 400;
$roboto-bold: 700;
