/**
 * Fonts: Includes
 */

@font-face {
  src: url('/fonts/Roboto-Bold.ttf') format('opentype');
  font-family: 'Roboto Bold';
}

@font-face {
  src: url('/fonts/Roboto-Regular.ttf') format('opentype');
  font-family: 'Roboto Regular';
}

@font-face {
  src: url('/fonts/Roboto-Medium.ttf') format('opentype');
  font-family: 'Roboto Medium';
}
